


{% extends 'pins/layouts/base.html.twig' %}

{% block title %}Iserao{% endblock %}



{% block body %}
    <div class="container" style="margin-bottom:2cm">
      
       
            {% if pins|length >  0 %}

                <!-- show numbers of pins inside pages with pluralize methods -->
                <h1 class="mt-4 mb-5 text-center text-muted" >
                    {{pluralize(pins|length, 'pin')}}
                </h1>
                
                <!-- displaying image per three -->
                {%for row in pins|batch(3) %}
                
                    <div class="row mb-5">

                        {% for pin in row %}
                                
                            <div class="col-md-3">
                                <article class=" bg-blue rounded shadow" id="{{pin.id}}">
                                    <div class="pin mw-50 overflow-hidden">
                                        <a href="{{path('app_pins_show',{id:pin.id})}}">

                                        <img id="index" src="{{ (pin.imageName ? vich_uploader_asset(pin): asset('images/iserao.jpg'))|imagine_filter('squared_output_medium')}}" alt="{{pin.title}}" class="w-100 rounded-top"/> 

                                        </a>
                                    </div>
                                    
                                    
                                    <h5><a href="{{path('app_pins_show',{id:pin.id})}}" id="title" style="padding-top: 5%;padding-left: 4%;"class="text-decoration-none">{{pin.title|u.truncate(20, '...', false)}}</a> </h5>
                            
                                    <p style="padding-left:4%; padding-right: 4%;" class="text-break">{{pin.description|u.truncate(10, '...', false)}}</p>


                                    <!-- use pluralize extensions to show number of commentaire -->
                                    <p class="text-center"><a href="{{path('app_pins_show',{id:pin.id})}}">{{pluralize(pin.comments|length, 'commentaire')}}</a> </p>

                                    {%if pin.boutique %}
                                        <small class="text-break ml-3"> <small class="text-muted"> shop {{pin.boutique.name}} publie {{pin.createdAt|ago}}</small></small>
                                    {%else%}
                                        <h6> <small style="padding-left: 4%;" class="text-muted"> Submitted by {{pin.user.username}} {{pin.createdAt|ago}}</small></h6>
                                    {%endif%}


                                </article>
                                
                                
                            </div>
                        {%endfor%}
                    
                        

                    </div>
                {% endfor %}

            {% else %}
                <div class="text-center mt-5" >
                    <h1>
                        pas encore de pin , voulez vous en creer? 
                        <a href="{{path('app_pins_create')}}">clickez ici</a>
                    
                    </h1>
                </div> 
         
                {% endif %}
        
    </div>

                   
                    
                    
                    
    
    
{% endblock %}

